<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   此处显示用户应用程序和配置的属性设置。-->
		<!--   示例：<add key="settingName" value="settingValue"/> -->
		<add key="toolBarButton1.PartialPush" value="False" />
		<add key="toolBarButton1.Text" value="新建" />
		<add key="toolBarButton1.ToolTipText" value="新建符号" />
		<add key="toolBarButton1.Visible" value="True" />
	</appSettings>
</configuration>